@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 95%;
    --foreground: 224 10% 12%;
    --card: 210 17% 98%;
    --card-foreground: 224 10% 12%;
    --popover: 210 17% 98%;
    --popover-foreground: 224 10% 12%;
    --primary: 211 80% 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 16% 90%;
    --secondary-foreground: 224 10% 12%;
    --muted: 210 16% 85%;
    --muted-foreground: 215 15% 45%;
    --accent: 207 82% 67%;
    --accent-foreground: 224 10% 12%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 15% 88%;
    --input: 210 15% 88%;
    --ring: 211 80% 52%;
    --radius: 0.5rem;
    --chart-1: 211 80% 52%;
    --chart-2: 207 82% 67%;
    --chart-3: 210 16% 90%;
    --chart-4: 215 15% 45%;
    --chart-5: 224 10% 12%;
    --sidebar-background: 210 17% 98%;
    --sidebar-foreground: 224 10% 12%;
    --sidebar-primary: 211 80% 52%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 16% 90%;
    --sidebar-accent-foreground: 224 10% 12%;
    --sidebar-border: 210 15% 88%;
    --sidebar-ring: 211 80% 52%;
  }
  .dark {
    --background: 220 10% 10%;
    --foreground: 210 40% 98%;
    --card: 220 10% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 220 10% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 211 80% 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 10% 23%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 10% 23%;
    --muted-foreground: 215 15% 65%;
    --accent: 207 82% 67%;
    --accent-foreground: 224 10% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 23%;
    --input: 210 10% 23%;
    --ring: 211 80% 52%;
    --chart-1: 211 80% 52%;
    --chart-2: 207 82% 67%;
    --chart-3: 210 10% 23%;
    --chart-4: 215 15% 65%;
    --chart-5: 210 40% 98%;
    --sidebar-background: 220 10% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 211 80% 52%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 10% 23%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 10% 23%;
    --sidebar-ring: 211 80% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
